{% include 'head.html' %}
{% include 'menu.html' %}

<div class="container mt-5">
    <table class="table table-striped">
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Address</th>
            <th>Contact no</th>
            <th>Email</th>
            <th>Password</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        {% for a in form %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.name }}</td>
            <td>{{ a.address }}</td>
            <td>{{ a.contactno }}</td>
            <td>{{ a.email }}</td>
            <td>{{ a.password }}</td>
            <td><a href="#">edit</a></td>
            <td><a href="#"> delete</a></td>
{% endfor%}
        </tr>
 
    </table>
</div>



{% include 'footer.html' %}